<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%=object.img_url%>);">
  <div class="card-description">
    <h2><%=object.name%></h2>
  </div>
  <%= image_tag 'logopsf-white2.jpg', class: "card-user"%>
  <a class="card-link" target="_blank" href=<%=object.post_url%>></a>
</div>
