<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/paladarsemfrescura/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/paladarsemfrescura/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/nunesfernanda/"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    <!-- <div class="col-xs-6"> -->
      <p>
        This website was made by Airton Ponce <%= image_tag 'psf.png', class: "mini-logo"%> at Le Wagon
      </p>
    <!-- </div> -->
  </div>
</div>

