<div class="container">
  <div class="row">
    <%@cocktails.each do |element|%>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render 'components/card', object: element%>
      </div>
    <%end%>
  </div>
</div>
